Weather Report.json
{
  "name": "Weather Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        -16
      ],
      "id": "e8cbb992-1976-4d3e-9e47-bba51cde0712",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "locationSelection": "zipCode",
        "zipCode": "505325,IN"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        192,
        80
      ],
      "id": "e69a8d8d-14a0-4ad4-bb9e-eca6f292d4bc",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "fTEP2CAwstJ0VSop",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "yashwanthch.343@gmail.com",
        "subject": "Daily Weather report",
        "emailType": "text",
        "message": "=Good morning, The current temperature is  {{ $json.main.temp }} \nWith temperature range of {{ $json.main.temp_min }} to {{ $json.main.temp_max }} Wind speed of {{ $json.wind.speed }} and the Humidity is {{ $json.main.humidity }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        -16
      ],
      "id": "99db0cb9-c744-411b-a5b4-37e283d27c94",
      "name": "Send a message",
      "webhookId": "0243894e-b300-4ae5-b03a-88370a714691",
      "credentials": {
        "gmailOAuth2": {
          "id": "9U5J6oTNo0D2XSog",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.airnowapi.org/aq/observation/zipCode/current/?format=application/json&zipCode=~zipCode~&distance=25&API_KEY=7F403858-448D-4E6A-B1A6-F65CAE0F648C",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        -112
      ],
      "id": "dfecd941-bdaa-4799-9132-0a9fac4fde69",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        -16
      ],
      "id": "b7144e95-f277-4d2e-90f3-eab15272f04d",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "824f202e-3880-465a-86d5-35bb06aa1a96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b249cfdb3f85a369a0ad499e4aa1eab97045dedb355baf604195b1c13320f1ad"
  },
  "id": "zOIo51fiUfvJOlx4",
  "tags": [
    {
      "updatedAt": "2025-11-27T10:01:02.461Z",
      "createdAt": "2025-11-27T10:01:02.461Z",
      "id": "v8j3wrnU6iN5Pnvx",
      "name": "Mythirdflow"
    }
  ]
}